**/bin
**/obj
**/.vs
**/.vscode
**/.git
**/.github
**/node_modules
**/*.user
**/*.suo
**/*.db
**/*.db-journal
**/*.bak
**/*.dump
**/*.log
SampleData/
FixInvoiceSchema/bin/
FixInvoiceSchema/obj/
neon_backup.dump
schema.sql
migration.sql
update_existing_invoices.sql
*.md
!README.md
